---
name: CMM Builder
run-name: build
on: [push] #change this?

jobs:
  Build_on_macOS:
    runs-on: macos-latest
    env:
      OS: macos
      DIST_PATH: dist/$OS
    steps:
      - name: Clone repo to runner
        uses: actions/checkout@v4
      - name: List files
        run: ls
      - name: Install pyyaml and pyinstaller if they aren't already
        run: |
          python3 dependencies.py $OS pyyaml
          python3 dependencies.py $OS pyinstaller
      - name: Prep directories and files
        run: |
          mkdir dist/
          mkdir dist/$OS/
          cp cmm.py $DIST_PATH/cmm.py
          cp dependencies.py $DIST_PATH/dependencies.py
          touch $DIST_PATH/installed.yml
          cd $DIST_PATH
      - name: Build cmm.py
        run: pyinstaller --onefile cmm.py
      - name: Move binary to $DIST_PATH and clean up
        run: |
          mv dist/cmm ./cmm
          rm -rf build
          rm -rf dist
  
  Build_on_Linux:
    runs-on: ubuntu-latest
    env:
      OS: linux
      DIST_PATH: "dist/$OS/"
    steps:
      - name: Clone repo to runner
        uses: actions/checkout@v4
      - name: Install pyyaml and pyinstaller if they aren't already
        run: |
          python dependencies.py $OS pyyaml
          python dependencies.py $OS pyinstaller
      - name: Prep directories and files
        run: |
          mkdir dist/
          mkdir dist/$OS/
          cp cmm.py $DIST_PATH
          cp dependencies.py $DIST_PATH
          touch $DIST_PATH/installed.yml
          cd $DIST_PATH
      - name: Build cmm.py
        run: pyinstaller --onefile cmm.py
      - name: Move binary to $DIST_PATH and clean up
        run: |
          mv dist/cmm ./cmm
          rm -rf build
          rm -rf dist

  Build_on_Windows:
    runs-on: windows-latest
    env:
      OS: windows
      DIST_PATH: "dist\\$OS"
    steps:
      - name: Clone repo to runner
        uses: actions/checkout@v4
      - name: Install pyyaml and pyinstaller if they aren't already
        shell: pwsh
        run: |
          python dependencies.py ${env:OS} pyyaml
          python dependencies.py ${env:OS} pyinstaller
      - name: Prep directories and files
        shell: pwsh
        run: |
          New-Item -ItemType Directory -Path "dist"
          New-Item -ItemType Directory -Path "dist\\$OS"
          Copy-Item "cmm.py" $DIST_PATH
          Copy-Item "dependencies.py" $DIST_PATH
          Write-Output $DIST_PATH
          New-Item -Path "$DIST_PATH\installed.yml" -ItemType File
          Set-Location -Path $DIST_PATH
      - name: Build cmm.py
        shell: pwsh
        run: |
          pyinstaller --onefile cmm.py
          Remove-Item -Path "build" -Recurse
          Remove-Item -Path "dist" -Recurse
...
